@tailwind base;
@tailwind components;
@tailwind utilities;

div {
	width: 50%;
	margin: auto;
	text-align: center;
}

/* Navigation Bar */

nav {
	background-color: aquamarine;
	padding: 1em;
}

#mainMenu {
	font-family: sans-serif;
}

#mainMenu li {
  display: block;
  width: 15%;
  float: left;
  margin: 1em;
  font-size: 1.5em;
}

#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color: aquamarine;
	color:#009;
}

#mainMenu a:hover {
	transition: all 0.25s ease;
	background-color:rgb(59, 59, 154);
	color:#fff;
}

/* Main content */

#articleContent {
	font-size: 1.5em;
}

/* Profile redirects */

#platformNotice {
	margin-top: 2em;
	font-size: 2em;
	text-align: center;
}

.imageIcon {
	margin: 15px;
}

.imageIcon:hover {
	transition: all 1s ease;
	transform: scale(1.1);
}
