/* @tailwind base;
@tailwind components;
@tailwind utilities; */
/* 
nav {
  position: inherit
} */

ol,ul {
	list-style: none;
}

#mainMenu {
	margin: 10px;
	width: 900px;
	font-family: sans-serif;
}

#mainMenu li {
  display: block;
  width: 100px;
  float: left;
  margin-left: 2px;
  border:1px solid #000;
}


#mainMenu a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

#mainMenu a:hover {
	background-color:rgb(59, 59, 154);
	color:#fff;
}